<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--引入头部公共部分-->
<div th:replace="~{commons/header::header}"></div>

    <section class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">关于我们 那个什么组</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">啊乐</a><span class="date">2021/11/23 </span></p>
                    </div>
                    <div class="text article-text">
                        <p>我们是那个什么组 这篇文章是我在写html页面的时候写的 因为我不知道写什么</p>
                        <p>那就这样子吧</p>
                        <p>啊乐真的很帅！</p>
                        <p> 。。</p>
                        <p> 。。</p>
                        <p> 。。</p>
                        <p> 。。</p>
                        <p> 。。</p>
                        <p> 。。</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

<!--引入footer公共部分-->
<div th:replace="~{commons/footer::footer}"></div>